body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-family: 'Baloo Tammudu 2', cursive;
    background: rgb(48,35,174);
    background: linear-gradient(345deg, rgba(48,35,174,1) 0%, rgba(200,109,215,1) 100%);
}

button {
    cursor: pointer;
}

ul {
    text-align:left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);

}

li {
    padding: 15px;
    margin: 10px;
    font-size: 1em;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

li>button {
    border: none;
    background-color: #fff;
    font-size: 1em;
    float: right;
    opacity: 0.6;
    transition: opacity 1s;
}

li>button:hover {
    opacity: 1;
    transition:  opacity 1s;
}

.title {
    font-size: 3em;
    color: #fff;
    /*text-shadow: 3px 5px #000;*/
    line-height: 1;
}

.text-center {
    text-align: center;
}

.button {
    background-color: #000;
    border: none;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    font-size: 1em;
    padding-left: 50px;
    padding-right: 50px;
}

#modal {
    text-align: left;
    margin: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

input {
    width: 100%;
    line-height: 50px;
    text-indent: 10px;
    font-size: 1.2em;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #8e51c7;
}

.danger {
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}